# Python 
__pycache__/
*.py[cod]
*$py.class
*.so

# Ambientes Virtuais (Venv)
venv/
.venv/
env/
.env/
ENV/
env.bak/
venv.bak/

# Configurações de Ambiente e Chaves Secretas 
.env

# Django 
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
static_root/

# Editores de Código e IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.swo

# Arquivos do Sistema Operacional
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Thumbs.db
ehthumbs.db

# Logs e Pacotes de Distribuição
*.egg-info/
.installed.cfg
*.egg
MANIFEST
build/
dist/